name: Publish Allure Report

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests to generate allure-results
        env:
          HEADLESS: "true"
        run: |
          pytest --alluredir=allure-results

      - name: Install Allure CLI
        run: |
          set -e
          sudo apt-get update
          sudo apt-get install -y default-jre curl

          ALLURE_VERSION=2.27.0
          ALLURE_TGZ=allure-${ALLURE_VERSION}.tgz
          ALLURE_URL=https://github.com/allure-framework/allure2/releases/download/${ALLURE_VERSION}/${ALLURE_TGZ}

          echo "Downloading: $ALLURE_URL"
          curl -fL -o $ALLURE_TGZ "$ALLURE_URL"

          echo "Check downloaded file type:"
          file $ALLURE_TGZ

          tar -xzf $ALLURE_TGZ
          sudo mv allure-${ALLURE_VERSION} /opt/allure
          sudo ln -sf /opt/allure/bin/allure /usr/local/bin/allure

          allure --version
      

      - name: Generate Allure HTML report
        run: |
          allure generate allure-results -o allure-report --clean

      - name: Publish to GitHub Pages (gh-pages branch)
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-report
          force_orphan: true
